<form action="/articles" method="post">
  <label for="title">Your Title: <input type="text" name="title" id="title"></label>
  <br>
  <label for="content">Content: <textarea name="content" id="content" cols="30" rows="10"></textarea></label>
  <br>
  <input type="submit" value="Submit">
</form>