<form method="post" action="/articles">
  <p>
    <label for="title">Title:</label>
    <input type="text" name="title">
  </p>
  <p>
    Content:<textarea name="content"></textarea>
  </p>
  <input type="submit" value="submit">
</form>