<form method = "post" action = "/articles">
    <p><label for="title">Article Title: </label></p>
    <p><input type="text" id="title" name="title"></p>
    <p><label for = "content">Article Content: </label></p>
    <p><textarea name="content" id ="content"></textarea></p>
    <p><input type="submit" value="Submit" id="submit"></p>
</form>